/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

.about-title {

    background-image: url(../../../public/assets/images/video_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.overlay {
    background-color: rgba(6, 42, 77, 0.9);
    z-index: 1;
    background-size: cover;
    padding: 110px 0;
}

.about-text {
    text-align: center;
    margin-bottom: 30px;
}

.about-text .about-heading {
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    margin-bottom: 20px;
}

.about-text .bread-crumb {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 15px;
}

.about-text .bread-crumb span {
    color: rgba(249, 154, 0, 1);
}

@media screen and (max-width: 992px) {
    .about-text .about-heading {
        font-size: 50px;
        line-height: 70px;
        margin-bottom: 20px;
    }

    .about-text .bread-crumb {
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .about-text .about-heading {
        font-size: 45px;
        line-height: 70px;
        margin-bottom: 15px;
    }

    .about-text .bread-crumb {
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .about-text .about-heading {
        font-size: 45px;
        line-height: 70px;
        margin-bottom: 15px;
    }

    .about-text .bread-crumb {
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {}