.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .addressInputsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  /* .inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  } */
  
  .btn_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .main {
    display: block;
    border-bottom: 3px solid black;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  
  .shop {
    display: flex;
    width: 100%;
  }
  
  .shippingAddress {
    width: 70%;
  }
  
  /* .shippingimg {
    width: 30%;
    display: flex;
    justify-content: end;
  } */
  svg.shipimage {
    max-width: 150px;
    height: auto;
  }
  .shipp {
    font-size: 12px;
  }
  
  img {
    max-width: 100px;
    /* height: 55px; */
    display: block;
  }
  
  span {
    padding-left: 50px;
  }
  
  h5 {
    font-size: 12px;
    font-weight: 400;
    /* padding-right: 20px; */
    margin: 10px 10px;
  }
  .qucodetext {
    margin-top: 20px;
  }
  .qucodetext h4 {
    margin: 0px;
    font-size: 12px;
  }
  
  .shippingAddress2 {
    display: block;
    width: 100%;
    border-bottom: 3px solid black;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    padding-bottom: 20px;
  }
  h5.payment2 {
    font-weight: 600;
  }
  h5.codamount2 {
    font-weight: 600;
  }
  h5.weight2 {
    font-weight: 600;
  }
  .fixtext {
    display: flex;
  }
  
  .qrcode {
    width: 70%;
  }
  
  .qrcode2 {
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }
  
  span.dimension {
    padding-left: 22px !important;
  }
  
  span.payment {
    padding-left: 31px !important;
    font-weight: 600;
  }
  
  span.codamount {
    padding-left: 8px !important;
    font-weight: 600;
  }
  
  span.weight {
    padding-left: 44px !important;
    font-weight: 600;
  }
  
  span.ewaybillno {
    padding-left: 20px !important;
  }
  
  span {
    padding-left: 0px !important;
    font-weight: 500;
  }
  p {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 10px;
  }
  h6 {
    margin: 0px 10px;
    max-width: 133px;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  span.gstin {
    padding-left: 20px !important;
  }
  .gstin {
    display: flex;
    justify-content: space-around;
  }
  .order {
    width: 50%;
  }
  .ordernow {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  table, td, th {
    border: 2px solid black;
    font-size: 12px;
    text-align: center;
  }
  .table-form {
    margin: 20px 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td.jens {
    text-align: left;
  }
  th.sku {
    text-align: center;
  }
  td.num {
    text-align: center;
  }
  td.text {
    text-align: center;
  }
  td.text2 {
    font-weight: 600;
  }
  tr.tabhei {
    height: 50px;
  }
  .btn_generateLabel {
    width: 18rem;
    padding: 1.3rem;
    font-size: 14px;
    border-radius: 2rem;
    background: rgb(36, 194, 36);
    color: white;
    border-style: inherit;
  }
  
  .btn_generateLabel:hover {
    background: rgb(28, 148, 28);
  }
  
  h3 {
    font-size: 12px;
    text-align: center;
    /* margin: 0; */
    padding-top: 20px;
  }
  .outputs {
    margin-top: 5rem;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    border: 3px solid black;
    /* width: 40rem; */
    /* height: 40rem; */
  }